* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.result {
    height: 300px;
    width: 300px;
    background-color: bisque;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 25px;
}
